.happy{
    background-color: #d4d4d4;
    color: black;
}
.sad{
    border-radius: 10px;
}


.D88{
    position: relative;
    left: 125px;
}
.D99{
    position: relative;
    right: 150px;
}
.D100{
    position: relative;
    left: 150px;
}
.D101{
    position: relative;
    left: 200px;
}
.D55{
    position: relative;
    left: 350px;
    top: 50px;
    height: 10px;
}
